<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleModal.css">
</head>
<body>
    <section class="section section-1">
        <a href="#Modal-1"><span>Open Modal 1</span></a> / <a href="#Modal-2">Open Modal 2</a>
    </section>
    <section class="section section-2"></section>
    <section class="section section-3"></section>
</body>
</html>